<link rel="stylesheet" href="{$assets}/{$smarty.const.materialize}/materialize.min.css">
<script src="{$assets}/{$smarty.const.materialize}/materialize.min.js"></script>
<link rel="stylesheet" href="{$assets}/{$smarty.const.packages}/fonts/material-icons.css">