<link rel="stylesheet" href="{$assets}/{$smarty.const.codemirror}/codemirror.css">
<script src="{$assets}/{$smarty.const.codemirror}/codemirror.js"></script>
<script src="{$assets}/{$smarty.const.codemirror}/stex.js"></script>