<link rel="stylesheet" href="{$assets}/{$smarty.const.datatables}/dataTables.min.css">
<script src="{$assets}/{$smarty.const.datatables}/jquery.dataTables.min.js"></script>
<script src="{$assets}/{$smarty.const.datatables}/dataTables.min.js"></script>
