.userLogo {
    padding-right: 10px;
}

body {
    background-color: #FCFCFC;
}

#pdfContainer {
    height: 95%;
    padding: 0px 0px 0px 0px !important;
}

#pdfObject {
    position: fixed;
    top: 64px;
    right: 0%;
    bottom: 5%;
    left: 50%;
    height: 95%;
    width: 50%;
}

#editContainer {
    padding: 0px !important;
}

.select-dropdown {
    border-bottom: 0px solid black !important;
    display: inline;
}

#toolboxContainer {
    height: 40px;
}

#nav-mobile {
    padding-right: 20px;
    margin-top: -14px;
}


#toolbarText {
    margin-left: 10px;
    margin-top: -10px;
}

#toolbarResult {
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 5px;
}

#toolbarPeople {
    margin-top: -12px;
}

#snapshotContainer {
    margin-top: -10px;
}

#paginationContainer {
    margin-bottom: 0px;
}

.smallerText {
    font-size: 90% !important;
}

.noContentPadding {
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.rangePadding {
    padding-top: 0px !important;
}

.cardMargin {
    margin: 0px;
}

#resultPreview {
    display: none;
}

#toast-container {
    bottom: auto !important;
    right: auto !important;
    left: 35%;
    top:15%;
}

#pdfContainer {
    background-color: #525659;
}

.step2SliderContainer {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

#saveText {
    vertical-align: 40%;
}

.loginTextTopMargin {
    margin-top: 5px;
}

.minHeightContent {
    min-height: 150px;
}