.cursorPointer {
    cursor: pointer;
}

.docbeat-logo {
    height: 45px;
    padding-left: 10px;
    padding-top: 15px;
}

.docbeat-alpha {
    height: 20px;
    padding-left: -10px;
    padding-top: 0px;
}

#titleProjectName {
    margin-left: 150px;
    font-weight: bold;
}