.userLogo {
    padding-right: 10px;
}

body {
    background-color: #FCFCFC;
}

#pdfContainer {
    height: 95%;
    padding: 0px 0px 0px 0px !important;
}

#pdfObject {
    position: fixed;
    top: 64px;
    right: 0%;
    bottom: 5%;
    left: 50%;
    height: 95%;
    width: 50%;
}

.chipsPadding {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.chipBotMargin {
    margin-bottom: 3px;
}

.cardMargin {
    margin: 0px;
}

#pdfPreview {
    display: none;
}

#graphPreview {
    display: none;
}

#errorCard {
    display: none;
}

#addUsers {
    margin-left: 60px;
}

.chip {
    padding: 0px 3px 0px 3px !important;
    width: 28px !important;
    font-size: 10px !important;
    height: 15px !important;
    line-height: 160% !important;
}

div.material-table table th {
    padding-left: 10px !important;
}

div.material-table table tr td {
    padding: 0 0 0 10px !important;

}

div.table-footer {
    height: 20px !important;
}

.ct-label {
    color: white !important;
}

.ct-series-a .ct-line {
    stroke: steelblue;
    stroke-width: 5px;
}

.ct-series-b .ct-line {
    stroke: lawngreen;
    stroke-width: 5px;
}

.ct-series-c .ct-line {
    stroke: red;
    stroke-width: 5px;
}

#pdfContainer {
    background-color: #525659;
    position: fixed;
    left: 50%;
}

#legendBox {
    margin-left: 50%;
    margin-top: 10px;
    font-weight: bold;
}

.steelBlue {
    color: steelblue;
}

.lawnGreen {
    color: lawngreen;
}

.redColor {
    color: red;
}

#graph {
    margin-left: 12px;
}