body {
    background-color: #FCFCFC;
}

.userLogo {
    padding-right: 10px;
}

.datePadding{
    padding-left: 15px;
}

.deadlineChapter{
    padding-left: 15px;
    padding-top: 8px !important;
}

.deadlineTopPadding{
    padding-top:20px;
}