.userLogo {
    padding-right: 10px;
}

body {
    background-color: #FCFCFC;
}

.scrollArea {
    overflow-y: scroll;
    resize: none;
}

#pdfContainer {
    height: 95%;
    padding: 0px 0px 0px 0px !important;
}

#pdfContainer {
    position: fixed;
    top: 64px;
    right: 0%;
    bottom: 5%;
    left: 50%;
    height: 95%;
    width: 50%;
}

.editContainer {
    height: 95%;
}

.step2Container {
    display: none;
}

.step3Container {
    display: none;
}

#chapterListContainer {
    display: none;
}

.fileMargin {
    margin-left: 12px;
}

.rangeMargin {
    padding: 0px 0px 0px 8px !important;
}

.chaptersNoTopMargin {
    margin-top: 0px !important;
}

.chaptersNoBottomMargin {
    margin-bottom: 0px !important;
}

.chaptersNoPadding {
    padding: 0px !important;
}

.moveLeftMargin {
    margin-left: -10px !important;
}

#pdfPreview {
    display: none;
}

#errorCard {
    display: none;
}

.cardMargin {
    margin: 0px;
}

#visibilityBox {
    margin-left: 13px;
}

#titleBox {
    margin-left: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}

.noBottomMargin {
    margin-bottom: 0px !important;
}