.userLogo {
    padding-right: 10px;
}

body {
    background-color: #FCFCFC;
}

#pdfContainer {
    height: 95%;
    padding: 0px 0px 0px 0px !important;
}

#pdfObject {
    position: fixed;
    top: 64px;
    right: 0%;
    bottom: 5%;
    left: 50%;
    height: 95%;
    width: 50%;
}

#editContainer {
    padding: 0px !important;
}

.select-dropdown {
    border-bottom: 0px solid black !important;
    display: inline;
}

.CodeMirror {
    position:absolute;
    width: 50%;
}

#footerContainer {
    z-index: 4;
    width: 50%;
    height: 35px;
    position: absolute;
    bottom: 0px;
}

#toolboxContainer {
    height: 40px;
}

#nav-mobile {
    padding-right: 20px;
    margin-top: -14px;
}

.progressText {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.progressRed {
    background: darkorange !important;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.cardMargin {
    margin: 0px;
}

#errorCard {
    display: none;
}

#pdfPreview {
    display: none;
}

.slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
}

.modal-footer {
    margin-top: -40px !important;
    margin-bottom: -20px !important;
}
.fixed-action-btn {
    bottom: 5px !important;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    right: 18%;
    bottom:40px;
}

#pictureButton {
    margin-left: 15px;
}