body {
    background-color: #FCFCFC;
}

.userLogo {
    padding-right: 10px;
}

.questionTextBox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.quantitySelectBox {
    margin-top: 25px !important;
}