.userLogo {
    padding-right: 10px;
}

body {
    background-color: #FCFCFC;
}

#pdfContainer {
    height: 95%;
    padding: 0px 0px 0px 0px !important;
}

#pdfObject {
    position: fixed;
    top: 64px;
    right: 0%;
    bottom: 5%;
    left: 50%;
    height: 95%;
    width: 50%;
}

#editContainer {
    padding: 0px !important;
}

.select-dropdown {
    border-bottom: 0px solid black !important;
    display: inline;
}

#toolboxContainer {
    height: 40px;
}

#nav-mobile {
    padding-right: 20px;
    margin-top: -14px;
}

#step2Area1 {
    padding-top: 0px;
    margin-left: 20px;
}

.step2SliderContainer {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

#step2Area2 {
    padding-top: 0px;
    margin-left: 20px;
}

.finalSliderContainer {
    padding-top: 0px;
}

.toolbarTopMargin {
    margin-top: -10px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#paginationElem {
    margin-bottom: 0px;
}

.cardMargin {
    margin: 0px;
}

#resultPreview {
    display: none;
}

#pdfContainer {
    background-color: #525659;
}

.noContentPadding {
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.minHeightContent {
    min-height: 150px;
}

#rewMark {
    vertical-align: 10%;
}