.userLogo {
    padding-right: 10px;
}

body {
    background-color: #272B30;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#loginButton {
    margin-right: 20px;
}

#newProject {
    margin-left: 20px;
}

#commit {
    font-size: 10px;
    position: absolute;
    top: 18px;
    left: 45px;
}

main {
    margin-top: 20px;
    flex: 1 0 auto;
}

footer {
    padding-top: 0px !important;
    background-color: black !important;
}

.footer-copyright {
    height: 25px !important;
    line-height: 25px !important;
}

.nameFontSize {
    font-size: 14px !important;
}

.enterFont {
    font-size: 16px !important;
    vertical-align: top !important;
}

.enterIcon {
    color: black !important;
    font-size: 23px !important;
}

.paddingFunctionTitle {
    padding-right: 35px !important;
}

#copyRight {
    float: left;
    font-weight: bold;
}

#version {
    float: right;
    font-weight: bold;
}

#commitText {
    color: #50AEFB;
}